/.classpath
/.settings
/.project
/target
/webpack.generated.js
/node_modules
/node
/webpack.config.js
/package.json
/package-lock.json
/pnpm-lock.yaml
/pnpmfile.js
frontend/index.html
frontend/generated
/vite.config.ts
/vite.generated.ts
.vscode/settings.json
src/main/dev-bundle/*
/src/main/bundles
